@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./spacing.css";
@import "./theme.css";

@theme {
/* Colors */
--color-gray-50: oklch(0.985 0.001 106.423);
--color-gray-100: oklch(0.97 0.001 106.424);
--color-gray-200: oklch(0.923 0.003 48.717);
--color-gray-300: oklch(0.869 0.005 56.366);
--color-gray-400: oklch(0.709 0.01 56.259);
--color-gray-500: oklch(0.553 0.013 58.071);
--color-gray-600: oklch(0.444 0.011 73.639);
--color-gray-700: oklch(0.374 0.01 67.558);
--color-gray-800: oklch(0.268 0.007 34.298);
--color-gray-900: oklch(0.216 0.006 56.043);
--color-gray-950: oklch(0.147 0.004 49.25);
--color-primary-50: oklch(0.977 0.014 308.299);
--color-primary-100: oklch(0.946 0.033 307.174);
--color-primary-200: oklch(0.902 0.063 306.703);
--color-primary-300: oklch(0.827 0.119 306.383);
--color-primary-400: oklch(0.714 0.203 305.504);
--color-primary-500: oklch(0.627 0.265 303.9);
--color-primary-600: oklch(0.558 0.288 302.321);
--color-primary-700: oklch(0.496 0.265 301.924);
--color-primary-800: oklch(0.438 0.218 303.724);
--color-primary-900: oklch(0.381 0.176 304.987);
--color-primary-950: oklch(0.291 0.149 302.717);
--color-secondary-50: oklch(0.987 0.022 95.277);
--color-secondary-100: oklch(0.962 0.059 95.617);
--color-secondary-200: oklch(0.924 0.12 95.746);
--color-secondary-300: oklch(0.879 0.169 91.605);
--color-secondary-400: oklch(0.828 0.189 84.429);
--color-secondary-500: oklch(0.769 0.188 70.08);
--color-secondary-600: oklch(0.666 0.179 58.318);
--color-secondary-700: oklch(0.555 0.163 48.998);
--color-secondary-800: oklch(0.473 0.137 46.201);
--color-secondary-900: oklch(0.414 0.112 45.904);
--color-secondary-950: oklch(0.279 0.077 45.635);

/* Typography */
--font-family: "Funnel Sans";
--font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-body: var(--font-family), var(--font-fallback);
--font-display: var(--font-body);
}